@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@300&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

section {
  position: relative;
  background-color: #f8f5f1;
}

section .banner {
  background-color: #194350;
  color: #ffffff;
}

section .identity {
  font-family: "Righteous", cursive;
  font-size: 500%;
}

section hr {
  color: #000000;
}

section .section-title {
  background-color: #9dbeb9;
  color: black;
}

section .blockquote {
  font-style: italic;
}

aside {
  background-color: #194350;
}

aside .top-icon {
  font-size: 750%;
  text-align: center;
  color: #ffffff;
}

aside hr {
  color: #ffffff;
}

aside .aside-title {
  color: #194350;
  text-align: center;
  background-color: #f8f5f1;
}

aside .aside-badge {
  font-size: 500%;
}

footer {
  background-color: #f8f5f1;
}

@media screen {
}
